@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Onest Variable', sans-serif;
  background-color: #f7f7f5;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
}
#layout{
  display: grid;
  grid-template-areas:
  "aside header"
  "aside main"; 
  grid-template-columns: 250px 1fr; 
  grid-template-rows: auto 1fr; 
}
#drawer > :first-child{
  right: -100%;
  transition: right 0.5s ease-in-out;
}
#drawer > :last-child{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#drawer.open > :first-child{
  right: 0;
}
#drawer.open > :last-child{
  opacity: 1;
  pointer-events: auto;
}

.edit-button{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #f7f7f5;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  color: white;
  transition: all 0.3s ease-in-out;
}
.edit-button > .edit-icon{
  position: absolute;
  background-color: #111111a1;
  opacity: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.edit-button:hover > .edit-icon{
  opacity: 1;
}