@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Onest Variable', sans-serif;
  background-color: #f7f7f5;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
}
#layout{
  display: grid;
  grid-template-areas:
  "aside header"
  "aside main"; 
  grid-template-columns: 300px 1fr; 
  grid-template-rows: auto 1fr; 
}